@using VideoHome.Services
@inject WebsiteAuthenticator WebsiteAuthenticator

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Video Homeee
        </a>
        <AuthorizeView>
            <Authorized>
                <div class="navbar-greeting">
                    Hello @context.User.Identity.Name :3
                </div>
            </Authorized>
        </AuthorizeView>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                @* <div class="nav-item px-3">
                <NavLink class="nav-link" href="test">
                <span class="oi oi-plus" aria-hidden="true"></span> Test
                </NavLink>
                </div> *@
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login" @onclick="@TryLogout">
                        <span class="iconify-style iconify" data-icon="material-symbols:door-open" aria-hidden="true"
                            data-width="28" data-height="28"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-home" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task TryLogout()
    {
        await WebsiteAuthenticator.LogoutAsync();
    }
}
